@use "../../Partials/Variables" as *;

.menu-list {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 1rem;
  max-height: 80vh;
  overflow: auto;
}

.menu-item {
  max-width: 100%;
  background-color: $bg-color-primary;
  padding: $font-size-sm;

  margin-bottom: $font-size-sm;
}

.menu-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $color-white;
  position: relative;
}

.menu-item-name {
  font-size: $font-size-xl;
}

.menu-dots {
  flex-grow: 1;
  border-bottom: 2px dotted rgba($color-white, 0.6); 
  margin: 0 $font-size-sm;
}

.menu-item-price {
  white-space: nowrap;
}

.menu-item-description {
  margin-top: $font-size-xs;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: rgba($color-white, 0.8);
}

.menu-separator {
  border-bottom: 2px dotted rgba($color-white, 0.1); 
  margin-top: $font-size-lg;
}

.menu-add-button {
  background-color: $bg-color-secondary;
  color: $color-white;
  font-size: $font-size-xl;
  border: none;
  border-radius: 1rem;;
  width: $font-size-xl;
  height: $font-size-xl;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-left: $font-size-md;

  &:hover {
    background-color: darken($bg-color-secondary, 10%);
  }
}
