@use "../../Partials/Variables" as *;

.menu-list {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 1rem;
  max-height: 80vh;
  overflow: auto;
}

.menu-item {
  max-width: 100%;
  background-color: $bg-color-primary;
  padding: 0.5rem;
  border-radius: $border-radius-primary;
  margin-bottom: 0.5rem;
}

.menu-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $color-white;
  position: relative;
}

.menu-item-name {
  font-size: 1.2rem;
}

.menu-dots {
  flex-grow: 1;
  border-bottom: 2px dotted rgba(209, 205, 205, 0.773); // Punkter mellan namn och pris
  margin: 0 0.5rem;
}

.menu-item-price {
  white-space: nowrap;
}

.menu-item-description {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: rgba(255, 255, 255, 0.8);
}

.menu-separator {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.103); // Skapar en svagare punktlinje
  margin-top: 1rem;
}
