@use "../partials/Variables" as *;

.menu-page {
  min-width: 100%;
  min-height: 100%;
  background-color: $bg-color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $bg-color-primary;
  width: 350px;
  max-width: 100%;
  height: 670px;
  border-radius: $border-radius-primary;
  color: $color-white;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 3rem;
}

.menu-title {
  font-size: 2.5rem;
  font-weight: 500;
  align-self: flex-start;
  padding: 1rem;
  margin-left: -1rem;
}

@media (max-width:370px) {
::-webkit-scrollbar {
  width: 0.5rem; 
}


::-webkit-scrollbar-track {
  background: $bg-color-primary; 
}


::-webkit-scrollbar-thumb {
  background: $bg-color-light-grey; 
  border-radius: $border-radius-primary; 
}


::-webkit-scrollbar-thumb:hover {
  background: lighten($bg-color-black, 10%);
}
}