@use "../partials/Variables" as *;

.order-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  text-align: center;
  background-color: $bg-color-primary;
  padding: 5rem;
}

.order-logo {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 4rem;
  margin: 1rem;
}

.food-box {
  margin-top: 3rem;
  width: 24rem;
}

.eta {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #ffffff;
}

.order-id {
  font-size: 1.1rem;
  color: $color-white;
  margin-bottom: 6rem;
}

.order-title {
  color: $color-white;
  width: 80%;
}

.new-order-btn {
  color: $color-white;
  background-color: $bg-color-black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 20rem;
  height: 4rem;
  font-size: $font-size-xl;
  font-weight: 500;
  border-radius: 0.3rem;

}
