@use "./Partials/Variables" as *;
@import "./partials/reset";

#root {
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 390px;
  height: 844px;
  margin: 0 auto;
  overflow: hidden;
}
